:root {
  --game-holder-back:#84a5c6;
  --page-back:#333;
  --grid-item-back:#c1ccd7;

}

* {
  box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0 ;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-back);
}

#app {
  width: 350px;
  background-color: var(--game-holder-back) ;
  height: 500px;
  padding: 30px;
}

#app .game-holder {
  background-color: #fbfcfa;
  border-radius: 5px;
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap:8px;
  padding: 8px;
}

#app .game-holder .grid-item {
  background: var(--grid-item-back);
  border-radius: 5px;
}
#app .game-holder .grid-item.filled {
  border: 1px solid var(--grid-item-back);
  background-color: #fff;
  padding: 2px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.07);
}


#app .game-holder .grid-item .number {
  height: 100%;
  width: 100%;
}