:root {
  --game-holder-back:#84a5c6;
  --page-back:#333;
  --game-container-back:#fbfcfa;
  --grid-item-back:#c1ccd7;
  --grid-gap:  8px;;
}

* {
  box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0 ;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-back);
  font-family: 'roboto';
}

.app {
  width: 350px;
  background-color: var(--game-holder-back) ;
  height: 500px;
  padding: 30px;
}

.app .game-holder {
  background-color: var(--game-container-back);
  border-radius: 5px;
  height: 300px;
  width: 100%;
  padding: 8px;
}



.app .game-holder .background-grid
/*,
.app .game-holder .game-grid*/ {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap:var(--grid-gap);
}

.app .game-holder .background-grid .grid-row
/* .app .game-holder .game-grid .grid-row  */{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:var(--grid-gap);
}

.app .game-holder .game-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap:var(--grid-gap);
}


.app .game-holder .grid-cell {
  background: var(--grid-item-back);
  border: 1px solid var(--grid-item-back);
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.04);
  user-select: none;
}
.app .game-holder .game-grid{
  transform: translateY(-100%);
}

.app .game-holder .game-grid .grid-cell {

  border-radius: 5px;
  user-select: none;
}

.app .game-holder .grid-cell .number {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 2px;
  border-radius: 5px;
}
.app .game-holder .grid-cell .number span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border-radius: 2px;
  color: rgb(51 51 51 / 79%);
}
